<div class="toolbar" role="banner">
  <img
    width="200"
    alt="Angular Logo"
    src="../assets/Horizontal-invertido.png"
  />
  <div class="spacer"></div>
  <span>GILA MESSAGE SYSTEM</span>
    <div class="spacer"></div>
    <a aria-label="Manuel Valls on LinkedIn" target="_blank" rel="noopener" href="https://cl.linkedin.com/in/mvallsz" title="LinkedIn">
      <img src="../assets/linkedIn.png" width="40" height="40">
    </a>
</div>

<div class="content" role="main">

  <h2>Send A message</h2>
  <p>We will notify all the customers suscribed to the category Topic.</p>

  <div class="card-container" fxLayout="column">
    <div class="flex flex-col sm:flex-row">
      <mat-form-field class="mat-input-wrapper">
        <mat-label>Category</mat-label>
        <mat-select [formControl]="categoryCtrl" matInput>
          <mat-option *ngFor="let category of categoryList" [value]="category._id">{{category.name}}</mat-option>
        </mat-select>
        <mat-hint>Type of transaction asociate with the Payment Type</mat-hint>
      </mat-form-field>
    </div>
    <div class="flex flex-col sm:flex-row">
      <mat-form-field class="mat-input-wrapper" >
        <mat-label>Title</mat-label>
        <input type="text" [formControl]="titleCtrl" matInput/>
        <mat-hint align="start">Set a title for the Message.</mat-hint>
      </mat-form-field>
    </div>
    <div class="flex flex-col sm:flex-row">
      <mat-form-field class="mat-input-wrapper">
        <mat-label>Message Content</mat-label>
        <textarea [formControl]="textCtrl" matInput></textarea>
        <mat-hint>Write down your message here!!</mat-hint>
      </mat-form-field>
    </div>
    <div class="flex flex-col sm:flex-row">
      <mat-form-field class="mat-input-wrapper">
        <mat-label>Channels</mat-label>
        <mat-select [formControl]="channelsCtrl" matInput multiple>
          <mat-option *ngFor="let channel of channelList" [value]="channel._id">{{channel.name}}</mat-option>
        </mat-select>
        <mat-hint>Type of transaction asociate with the Payment Type</mat-hint>
      </mat-form-field>
    </div>
    <div class="flex flex-col sm:flex-row" style="text-align: center; padding: 10px">

      <div *ngIf="!spinner">
        <button mat-button color="primary" (click)="save()" style="background-color: coral" >CREATE MESSAGE</button>
      </div>
      <div *ngIf="spinner">
        <button mat-button color="primary" (click)="save()" style="background-color: coral" >
          <div fxLayout="row" fxLayoutAlign="center center">
            <mat-progress-spinner diameter="20" mode="indeterminate" color="primary" *ngIf="spinner"></mat-progress-spinner>
          </div>
        </button>
      </div>
    </div>
  </div>
  <mat-divider></mat-divider>

  <h2>Notification Log</h2>
  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource">

      <!-- message Column -->
      <ng-container matColumnDef="message">
        <th mat-header-cell *matHeaderCellDef> Message </th>
        <td mat-cell *matCellDef="let element" matTooltip="{{element.message.title}}" > {{element.message._id}} </td>
      </ng-container>

      <!-- User Column -->
      <ng-container matColumnDef="user">
        <th mat-header-cell *matHeaderCellDef> User </th>
        <td mat-cell *matCellDef="let element"> {{element.user.name}} </td>
      </ng-container>

      <!-- Channel Column -->
      <ng-container matColumnDef="channel">
        <th mat-header-cell *matHeaderCellDef> Channel </th>
        <td mat-cell *matCellDef="let element"> {{element.channel.name}} </td>
      </ng-container>

      <!-- deliveryStatus Column -->
      <ng-container matColumnDef="deliveryStatus">
        <th mat-header-cell *matHeaderCellDef> Delivery Status </th>
        <td mat-cell *matCellDef="let element">
          <span *ngIf="element.deliveryStatus === '1'" >
            DELIVERED
          </span>
          <span *ngIf="element.deliveryStatus === '2'" >
            ERROR ON DELIVERED
          </span>
          <span *ngIf="element.deliveryStatus === '3'" >
            DELIVERED WITH ERROR
          </span>
        </td>
      </ng-container>

      <!-- notificationDate Column -->
      <ng-container matColumnDef="notificationDate">
        <th mat-header-cell *matHeaderCellDef> Date </th>
        <td mat-cell *matCellDef="let element"> {{element.notificationDate.split('T')[0]}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" [attr.colspan]="displayedColumns.length" style="text-align: center">
          No records found.
        </td>
      </tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                   showFirstLastButtons
                   aria-label="Select page of periodic elements">
    </mat-paginator>
  </div>


  <footer>
      <a href="https://github.com/mvallsz" target="_blank" rel="noopener">
        <div class="github-star-badge">
          <svg height="32" aria-hidden="true" viewBox="0 0 16 16" version="1.1" width="32" data-view-component="true" class="octicon octicon-mark-github v-align-middle">
            <path fill-rule="evenodd" d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.013 8.013 0 0016 8c0-4.42-3.58-8-8-8z"></path>
          </svg>
          &nbsp;  mvallsz
        </div>
      </a>

  </footer>

</div>
